<div class="banner">
  <div class="container d-flex flex-column">
    <h1 class="text-center mb-5">Play some awesome games!</h1>
    <%= link_to "See all", games_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
<div class="container">
</div>
