<div class="footer">
  <div class="footer-links">
    <%= link_to 'https://github.com/kaanalpar', target: '_blank' do %>
      <i class="fab fa-github"></i>
    <% end %>
    <%= link_to 'https://instagram.com/kaanalpar', target: '_blank' do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to '#' do %>
      <i class="fab fa-youtube"></i>
    <% end %>
  </div>
  <div class="footer-copyright">
    Kaan's Game Portal 2019 &copy;
  </div>
</div>
