<div class="container">
  <h1 class="text-center">All our games</h1>
  <div class="row">
    <% @games.order(:id).each do |game| %>
      <div class="col-4">
        <%= link_to game_path(game), method: :get do %>
        <div class="card-product m-2">
          <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" %>
          <div class="card-product-infos">
            <h2><%= game.title %></h2>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
